@page

@model Login

@{
	ViewData["Title"] = "Login";
}

<div class="row">
	<div class="col-md-5 m-auto login">
		<h1>@ViewData["Title"]</h1>
		<section>
			<form id="account" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label for="Input_UserName">Username_Or_Phonenumber</label>
					<input asp-for="Input.UserName" class="form-control" />
					<span asp-validation-for="Input.UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="Input_Password">Password</label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<input type="checkbox" value="1" id="Input_RememberMe" name="Input_RememberMe" />
						<label for="Input_RememberMe">
						</label>
					</div>
					<label for="Input_RememberMe">RememberMe</label>
				</div>
				<div class="form-group">
					<button type="submit">Login</button>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
