@page

@model Login

@{
	ViewData["Title"] = "Login";
}

<style>
	.form-control {
		border-radius: 50rem;
		box-shadow: 1px 1px 1px 1px #555;
	}

	.btn {
		margin: auto;
		display: block;
		width: 50%;
		background: #555;
		border-radius: 50rem;
	}
</style>

<div class="row" style="margin-top:20px;">
	<div class="col-md-5 m-auto login" style="float:none;margin:auto;">
		<h2 class="text-center"  style="color:white;">@ViewData["Title"]</h2>
		<section>
			<form id="account" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<input asp-for="Input.UserName" placeholder="Email" class="form-control" />
					<span asp-validation-for="Input.UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input asp-for="Input.Password" placeholder="Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn">Login</button>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
