@page
@model Register
@{
	ViewData["Title"] = "Register";
}

<style>
	.form-control {
		border-radius: 50rem;
		box-shadow: 1px 1px 1px 1px #555;
	}

	.btn {
		margin: auto;
		display: block;
	}
</style>

<div class="row" style="margin-top:20px;">
	<div class="col-md-6" style="float:none;margin:auto;">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<br />
			<br />
			<h4 class="text-center" style="color:white;">Create a new account</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="Input.Email" placeholder="Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="Input.Name" placeholder="Name" class="form-control" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="Input.Password" placeholder="Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-success">
				Register
			</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
