@{
	ViewData["Title"] = "Home Page";
}

<section id="works" class="works section no-padding">
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-lg-3 col-md-6 col-sm-6 work">
				<a href="~/images/work-1.jpg" class="work-box">
					<img src="~/images/255px-MaineCoonPaw.jpg" alt="">
					<div class="overlay">
						<div class="overlay-caption">
							<h5>MaineCoon</h5>
							<p>Breeding</p>
						</div>
					</div><!-- overlay -->
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 work">
				<a href="~/images/work-2.jpg" class="work-box">
					<img src="~/images/330px-Chihuahua1_bvdb.jpg" alt="">
					<div class="overlay">
						<div class="overlay-caption">
							<h5>Chihuahua</h5>
							<p>Breeding</p>
						</div>
					</div><!-- overlay -->
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 work">
				<a href="~/images/work-3.jpg" class="work-box">
					<img src="~/images/330px-Chihuahua_puppy_(toronjazul).jpg" alt="">
					<div class="overlay">
						<div class="overlay-caption">
							<h5>Chihuahua</h5>
							<p>Baby Care</p>
						</div>
					</div><!-- overlay -->
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 work">
				<a href="~/images/work-4.jpg" class="work-box">
					<img src="~/images/Himilayan_body_6.jpg" alt="">
					<div class="overlay">
						<div class="overlay-caption">
							<h5>Himilayan</h5>
							<p>Breeding</p>
						</div>
					</div><!-- overlay -->
				</a>
			</div>
		</div>
	</div>
</section><!-- works -->

<section id="teams" class="section teams">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="person">
					<img src="~/images/team-1.jpg" alt="" class="img-responsive">
					<div class="person-content">
						<h4>Ruth Wood</h4>
						<h5 class="role">Pet Owner</h5>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
					</div>
					<ul class="social-icons clearfix">
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
						<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
					</ul>
				</div><!-- person -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="person">
					<img src="~/images/team-2.jpg" alt="" class="img-responsive">
					<div class="person-content">
						<h4>Timothy Reed</h4>
						<h5 class="role">Pet Owner</h5>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
					</div>
					<ul class="social-icons clearfix">
						<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
					</ul>
				</div><!-- person -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="person">
					<img src="~/images/team-3.jpg" alt="" class="img-responsive">
					<div class="person-content">
						<h4>Victoria Valdez</h4>
						<h5 class="role">Pet Owner</h5>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
					</div>
					<ul class="social-icons clearfix">
						<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
					</ul>
				</div><!-- person -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="person">
					<img src="~/images/team-4.jpg" alt="" class="img-responsive">
					<div class="person-content">
						<h4>Beverly Little</h4>
						<h5 class="role">Pet Owner</h5>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
					</div>
					<ul class="social-icons clearfix">
						<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
						<li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
					</ul>
				</div><!-- person -->
			</div>
		</div>
	</div>
</section><!-- teams -->